# AUTH_PARAMETERS
JWT_SECRET="JWT_SECRET"

# DB_PARAMETERS
DB_HOST="DB_HOST"
DB_NAME="DB_NAME"
DB_PASSWORD="DB_PASSWORD"
DB_PORT="DB_PORT"
DB_SSLMODE="DB_SSLMODE"
DB_USER="DB_USER"

# POSTMAN
POSTMAN_API_KEY="POSTMAN_API_KEY"
POSTMAN_COLLECTION_UID="POSTMAN_COLLECTION_UID"
